body{
    margin: 0px;
}

a,h1, h2, h3, h4, p, span{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*HEADER*/

header{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 11vh;
    background-color:  #323b41 ;
    margin:0 auto auto 0;
    color:white;
}

.header_header_group{
    display: flex;
    flex-wrap: row wrap;
    margin-left: 5%;
}

.header_logo{
    width: 10vw;
    padding:0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
    width: 54%;
}

a{
    text-decoration: none;
    color: #9A9EA1;
}

a:hover{
    color:white;
}

.nav_a_tickets{
    color: #26A743;
}

.nav_a_tickets:hover, footer a:hover{
    color: #DBD704;
}

/*MAIN*/

main{
   position: relative;
   width: 100%;
   height: 90vh;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/ba1.jpg);
   background-size: 105%;
   background-position-y: 70%;
   background-position-x: 33%;
}

.main_text{
    position: absolute;
    top: 30%;
    right: 0%;
    bottom:auto;
    left: auto;
    width: 38%;
    margin-right: 6%;
    text-align: right;
    line-height: 1.5em;
}

h1{
    font-size: 2rem;
}

.main_p{
    font-size: 1rem;
}

.title, h1,.main_p{
    color:white;
    font-weight:lighter;
}

.button{
    padding:0.6rem;
    margin:0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 550;
    color: white;
}

.main_button1{
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
}

.main_button2{
    background-color: #27A844;
    border: none;
}

/*ORADORES*/

.oradores_title{
    display: flex;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.oradores_title h3{
    text-transform: uppercase;
    width:auto;
    margin: 0 auto;
    font-size: 0.7rem;
    font-weight: 100;
}

.target_title{
    width:auto;
    margin:1rem auto;
    font-size: 1rem;
    font-weight: bolder;
}


.title_bold{
    font-size: 1.6rem;
    font-weight:bolder;
    line-height: 2rem;
}

.oradores_targets{
    margin: 0 auto;
    display: flex;
    flex-wrap: row wrap;
    width: 75%;
}

.target{
margin:1.2%;
margin-top: 0%;
border: solid 1px #DFDFDF;
border-radius: 5px;
overflow: hidden;
}

.target_title{
    margin-top: 0.2rem;
}

.target_img{
    width: 100%;
    height: auto;
    max-height: 55%;
    overflow: hidden;
}

.oradores_targets img{
    width: 100%;
}

.target_description{
    padding: 1rem;
    padding: 1%;
    margin-top: 1.2rem;
    }

.target_description p, .about_BA_text p{
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.target_tag{
    font-weight: bold;
    font-size: 0.7rem;
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.target_tagJs{
    background-color: #FEC107;
    color: black;
}

.target_tagReact{
    background-color: #15A2B4;
}

.target_tagBusiness{
    background-color: #6C757E;
}

.target_tagStartUps{
    background-color: #DF3444;
}

/*Pantalla dividida*/

.about_BA{
    display:flex;
    flex-wrap: row wrap;
    height: 65vh;
}

.about_BA_img{
    width: 51vw;
    background-image: url("./assets/honolulu.jpg");
    background-size: 105%;
    background-repeat: no-repeat;
    background-position-x: 60%;
}

.about_BA_text{
    width: 49vw;
    background-color: #353A40;
    padding: 0.4rem 1rem;
}

.about_BA_text p, h4{
    color: white;
}

.about_BA_text h4{
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.about_BA_button{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 0.8rem;
    font-weight: lighter;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

/*FOOTER*/

footer{
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    background-color: #1F4D67 ;

}

footer div{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 14vh;
    margin: 0px auto;
    color:white;
}

footer a{
    font-size: 0.9rem;
    max-width: 10%;
    text-align: center;
    color: white;
}

