:root{
    margin:0%;
    padding:0%;
    --color_ppl: #323b41; /*gray*/
    --lightgray: #9A9EA1; /*light gray*/
    --yellow_cac: rgba(254, 203, 2); /*amarillo Codo a Codo*/
    --green_detail: #27A844; /*Verde de botones*/
}

html{
    width: 100%;
}

body{
    margin: 0px;
    width: 100%;
}

a,h1, h2, h3, h4, p, span{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*HEADER*/
.header_nav{
    background-color: var(--color_ppl);
    padding-left: 3%;
    padding-right: 3%;
}

.header_group{
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
}

.header_logo{
    width: 9vw;
    min-width: 100px;
}

.header_logo_a{
    border: none;
    max-width: 100px;
    margin:1rem;
    padding:0%;
}

.tittle, h1,.main_p{
    color:white;
    font-weight:lighter;
}

.tittle{
    font-size: 1.3rem;
    width: auto;
}
 
.header_nav_button{
    border: var(--yellow_cac);
}

.nav_container_a{
    width: 60vw;
}

a, .nav_a, .nav-link{
    text-decoration: none;
    color: var(--lightgray);
    width: auto;
    max-width: 180px;
    text-align: center;
    height: auto;
    margin: auto 0%;
    padding: 0%;
    font-size: 1rem;
}

.nav_a:hover{
    color:white;
}

.nav_a_tickets{
    color: #26A743;
}

.nav_a_tickets:hover, footer a:hover{
    color: var(--yellow_cac);
}

/*BOTÓN UP*/

#up{
    position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
    width: 50px;
    height: 50px;
    z-index: 10;

}
.up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    min-width: 30px;
    min-height: 30px;
    color:#323b41 ;
    background-color: rgba(254, 203, 2);
    border-radius: 50%;
    animation: up;
    animation-duration: 3000ms;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

@keyframes up{
    15%{
        align-items: center;
        transform: scale(105%);
    }
    20%{
        align-items: flex-start; 
        transform:scale(110%);
    }
    25%{
        align-items:flex-end;
        transform:scale(115%);
    }
    35%{
        align-items: flex-start;
        transform:scale(110%)       

    }
    40%{
        align-items: center;
        transform: none;
    }

}


/*MAIN*/
main{
    position: relative;
    padding-bottom: 3%;
}

.main_image1, .main_image2, .main_image3{
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_image1{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/ba1.jpg);
    background-position-y: 70%; 
}

.main_image2{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/ba2.jpg);
    background-position-y: 100%; 
}

.main_image3{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/ba3.jpg);
    background-position-y: 30%;
}

.main_text{
    position: absolute;
    top: 20vh; /*20vh*/
    right: 0%; 
    bottom:auto;
    left: auto;
    width: 38%;
    margin-right: 6%;
    text-align: right;
    line-height: 1.5em;
    z-index: 8;
    border-radius: 50px;
   /* padding:0.5rem;*/
}

h1{
    font-size: 2rem;
}

.main_p{
    font-size: 1rem;
    z-index: 9;
    backdrop-filter: blur(2px);
    background: radial-gradient(ellipse at center,  rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));

}

.button{
    padding:0.5rem;
    margin:0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
}

.main_button1{
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

.main_button1:hover, .about_BA_button:hover{
    background-color: white;
    color: black;
}

.main_button2{
    background-color: #27A844;
    border: none;
}

.main_button2:hover{
    background-color: white;
    color: var(--green_detail);
    transform: scale(105%);
}


/*ORADORES*/

.oradores_title{
    display: flex;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.oradores_title h3{
    text-transform: uppercase;
    width:auto;
    margin: 0 auto;
    font-size: 0.7rem;
    font-weight: 100;
}

.target_title{
    width:auto;
    margin:1rem auto;
    font-size: 1rem;
    font-weight: bolder;
}


.title_bold{
    font-size: 1.6rem;
    font-weight:bolder;
    line-height: 2rem;
}

.oradores_targets{
    margin: 0 auto;
    display: flex;
    flex-wrap: row wrap;
    width: 75%;
}

.target{
margin:1.2%;
margin-top: 0%;
margin-bottom: 5%;
border: solid 1px #DFDFDF;
border-radius: 5px;
overflow: hidden;
box-shadow: 5px 5px 5px var(--lightgray);

}

.target_title{
    margin-top: 0.2rem;
}

.target_img{
    width: 100%;
    height: auto;
    max-height: 55%;
    overflow: hidden;
}

.oradores_targets img{
    width: 100%;
}

.target_description{
    padding: 1rem;
    padding: 3%;
    margin-top: 1.2rem;
    }

.target_description p, .about_BA_text p{
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.target_tag{
    font-weight: bold;
    font-size: 0.7rem;
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.target_tagJs{
    background-color: #FEC107;
    color: black;
}

.target_tagReact{
    background-color: #15A2B4;
}

.target_tagBusiness{
    background-color: #6C757E;
}

.target_tagStartUps{
    background-color: #DF3444;
}

/*PANTALLA DIVIDIDA*/

.about_BA{
    display:flex;
    flex-wrap: row wrap;
    min-height: 50vh;
}

.about_BA_img{
    width: 50vw;
    background-image: url("./assets/catalinas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
}

.about_img_opcional{
    display:none;
}

.about_BA_text{
    width: 50vw;
    background-color: var(--color_ppl);
    padding: 0.4rem 1rem;
}

.about_BA_text p, h4, .about_BA_button{
    color: white;
    margin: 4%;
}

.about_BA_text h4{
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.about_BA_button{
    font-size: 0.8rem;
    font-weight: lighter;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

/*FORMULARIO*/

.form{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 50vw;
}

.form_span{
    text-decoration:underline dotted;
}

.form_text, .form_input{
    font-size: 0.8rem;
}

.form_text_end{
    font-size: 0.75rem;
}

/*FOOTER*/

footer{
    display: flex;
    flex-wrap: row wrap;
    align-items: center;

}

footer div{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 14vh;
    margin: 0px auto;
    color:white;
    background: linear-gradient(to right, #1C3643, #1E5372) ;

}

footer a{
    font-size: 0.9rem;
    max-width: 10%;
    text-align: center;
    color: white;
}
/*MEDIA QUERIES*/

@media screen and (max-width:1110px){
    .nav_container_a{
        width: 65vw;
    }
}

@media screen and (max-width:1049px){
    nav_a{
        font-size: 0.8rem;
        max-width: 150px;
    }

    .main_text{
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {

    .tittle{
        font-size: 1.2rem;
    }

    .main_text{
        margin-right: 10%;
    }

}

@media screen and (max-width:991px){

    .header_nav{
        padding-left: 0%;
        padding-right: 0%;
    }
    .nav_container_a{
        background-color: var(--color_ppl);
        width: 100%;
        margin-left: 0px;
    }
    .nav_a{
        border-bottom:1px solid var(--lightgray);
    }    

    .nav_a, .nav_a_tickets{
        max-width: 100%;
        padding:8px;
    }
    
    .oradores_targets{
        width: 85%;
    }

    .form{
        width: 70%;
    }

    footer{
        height:fit-content;
    }

    footer div{
        flex-direction: column;
        height: fit-content;
        padding: 1rem;
    }

    footer a{
        max-width: none;
        margin: 1% auto;
    }

}

@media screen and  (max-width:767px){

    .main_text{
        width: 60%;
    }

    .oradores_targets{
        flex-direction: column;
    }

    .target{
        display: block;
    }

   .about_BA{
    display: block;
   }

   .about_BA_img, .about_BA_text{
    width: 100%;
   }

   .about_BA_img{
    height: 50vh;
   }

   .about_BA_text{
    height: auto;
   }

   .form{
    width: 100%;
   }
}

@media screen and (max-width:480px){
    .main_text{
        width: 90%;
    }
}

@media screen and (max-width:277px){
    .main_text{
        top:10vh;
        width: 100%;
    }

    .info{
        flex: 1 0 100%;
    }
}

@media screen and (orientation:landscape) {
        
    .main_image1, .main_image2, .main_image3{
        height: 110vh;
    }

    .oradores_targets{
        width: 70%;
    }
}
