main{
    padding-bottom: 0%;
}

.contenedor{
    width: 50%;
    margin:0 auto;
    
}

.targets{
    display: flex;
 flex-wrap: row wrap;
 justify-content: space-between;
}

.card{
 width: 30%;
 border: solid 2px;
 margin-top: 1rem;

}

.title{
    color:white;
}

.title, .target_text p{
    width: 100%;
    text-align: center;
}

.target_text{
    margin-top: 5%;
    font-size: 0.9rem;
}

.student{
    border-color: #0D6EFD;
}

.student .title{
    background-color: #0D6EFD;
    
}

.trainee{
    border-color:#0DCAF0;
}

.trainee .title{
    background-color: #0DCAF0;
}

.junior{
    border-color: #FFC107;
}

.junior .title{
    background-color: #FFC107;
}

.target_percentage{
    font-size: 1.5rem;
    font-weight: bold;
}

.form, .cantidad, .categoria{
    width: 100%;
    flex-wrap: column wrap;
}

.form{
    text-align: center;
    border: none;
}

.form h3{
    font-size: 1rem;
   margin-top: 1rem;
}

form{
    width: 100%;

}

.datos, .choises{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#name, #lastname, .cantidad, .categoria {
    width: 49%;
}

#email{
    margin-top: 1rem;
}

.cantidad, .categoria{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

#categoria{
    width: 100%;
}

.total{
    width: 100%;
    height: 3rem;
    border-color: 1px solid #B6D4FE;
    background-color: #CFE2FF;
    color: #0865C3;
    margin-top: 1rem; 
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#total{
    font-size: 2rem;
    margin-left: 1rem;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}

.button{
    width: 49%;
    padding: 0.4rem;
    margin: 1rem 0% 0%;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1000px) {
 .contenedor{
    width: 80%;
 }   
}

@media screen and (max-width: 600px) {
    .contenedor{
        width: 95%;
    }
}

@media screen and (max-width:500px) {
    .targets{
        flex-direction: column;
    }

    .card{
        width: 50%;
        margin: 1rem auto;
    }

    .datos, .choises{
        flex-direction: column;
    }

    #name, #lastname, .cantidad, .categoria {
        width: 100%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 315px) {
    .contenedor{
        width: 90%;
    }

    .card{
        width: 100%;
    }
}

